
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,200..900&display=swap");

/* :root {
  --primary-color: #597567;
  --primary-color-dark: #254336;
  --text-dark: #1f2937;
  --text-light: #656349;
  --extra-light: #e0ded3;
  --max-width: 1200px;
  --content-width: 800px;
} */


:root {
  --primary-color: #9a3a29;
  --primary-color-dark: #a35c50;
  --text-dark: #232323;
  --text-light: #383636;
  --extra-light: #e0dcd4;
  --max-width: 1200px;
  --content-width: 800px;
  /* og 1200 px */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

body {
  font-family: "Poppins", sans-serif;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #ffffff; */
  background-color: var(--primary-color-dark);
  z-index: 99;
}

.nav__content {
  max-width: var(--max-width);
  margin: auto;
  padding: 1.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  /* color: var(--primary-color); */
  color: var(--text-dark);
  transition: 0.3s;
}
nav .logo a:hover {
  color: var(--text-dark);
}

nav .checkbox {
  display: none;
}

nav input {
  display: none;
}
nav .checkbox i {
  font-size: 2rem;
  color: var(--primary-color);
  cursor: pointer;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
  transition: left 0.3s;
}

ul li a {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  text-decoration: none;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

ul li a:hover {
  border-top-color: var(--text-dark);
  border-bottom-color: var(--text-dark);
  color: var(--text-dark);
}

.section {
  background-color: var(--extra-light);
  padding-top: 8.5rem; 
}

.section__container {
  /* min-height: 100vh; */
  min-height: calc(100vh - 216px);
  max-width: var(--content-width);
  margin: auto;
  padding: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--text-light);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

h2{
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 2rem;
  color: var(--primary-color);
  font-family: "Fraunces", serif;
  /* margin-bottom: 0.5rem; */
}

.content ul.content-list {
  display: block; 
  padding-left: 3rem;
  padding-top: 1rem;
  color: var(--text-light);
  list-style: disc;
}

.content ul.content-list li {
  color: var(--text-light);
  line-height: 1.5rem; 
}

.content ul.content-list li b {
  color: var(--text-light);
  font-weight: 600;
}


.special-link {
  color: var(--primary-color);
  font-weight: bold; 
  border: none; 
}

.special-link:hover {
  color: var(--primary-color-dark); 
  border: none;
}

.content-list a.special-link {
  padding: 0; 
  border: none;
}

.content-list a.special-link:hover {
  border: none; 
}


/* .title span {
  font-weight: 600;
} */

.title span {
  font-weight: 800;
  font-family: "Fraunces", serif;
  font-size: 3.2rem;
  color: var(--primary-color);
}

.description {
  line-height: 1.5rem;
  color: var(--text-light);
  /* margin-bottom: 2rem; */
}

.block {
  width: 100%;
  max-width: var(--content-width);
  position: relative;
  padding: 1rem; /* Adjusted padding */
  text-align: center;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border-top: 1px solid var(--primary-color-light);
  box-sizing: border-box;
  /* flex-wrap: wrap; */
}

.block p {
  display: block;
  text-align: left;
  color: var(--text-light);
  padding: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-top: 0;
  margin-bottom: 0;
  unicode-bidi: isolate;
  word-wrap: break-word;
}
.header{
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
  font-family: "Fraunces", serif;
  color: var(--primary-color) !important;
  padding-left: 1rem;
  padding-bottom: 0;
  word-wrap: break-word;
}

.header a:hover {
  color: var(--primary-color-dark);
}

.text_content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding:0;
  margin: 0;
}


.image_col {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%; 
}

.image_col img { 
  width: 22rem; 
  height: 17rem; 
  object-fit: cover; 
  border-radius: 15px; 
  margin-right: 1rem; 
  display: block;
}

.footer {
  width: 100%;
  height: 150px;
  background-image: url("assets/fish2.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

@media (width < 750px) {
  nav .checkbox {
    display: block;
  }

  ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 85px);
    left: -100%;
    top: 85px;
    background-color: var(--extra-light);
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
  }

  nav #check:checked ~ ul {
    left: 0;
  }

  ul li a {
    font-size: 1.25rem;
  }

  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: 1fr;
  }

  .block {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .block p{
    grid-template-columns: 1fr;
    text-align: center;
  }

  .image_col {
    justify-content: center;
    margin-bottom: 1rem; /* Add space between image and text */
  }
}

