body {
    background-color: #eac8c8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

h1 {
    color: #814c4c;
    text-align: center;
}

p {
    color: #693d3d;
    text-align: center;
    margin-bottom: 20px;
    padding: 0px 150px;
}

.pagination {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.pagination a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #0056b3;
    border-radius: 5px;
    margin-right: 10px;
}

.pagination a.active {
    text-align: center;
    background-color: #0056b3;
}

/* Specific Styles for Intro Page */
.intro-content {
    text-align: center;
    margin-top: 50px;
}

.intro-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.intro-images img {
    margin: 0 10px;
    border-radius: 5px;
}

.image-container1 {
    text-align: center;
}

.image-container1 IMG {
    display: inline-block;
    margin: 0 10px; /* Optional: Add some spacing between images */
}
.image-container {
    text-align: center;
}